header{
    text-align: center;
    color:brown;
    font-weight: 100vh;

    font-style: oblique;
    
}
 body{
    text-align: center;
    font-size: larger;
    background-color: bisque;
    padding: 20px;

 }
    
 